body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2E2E2E;
    min-height: 100vh;
}

header{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #C3B18A;
    z-index: 1000;
    
}



.conteiner-desplegable{
    background-color: #C3B18A;
}

/* Desplegable checkbox con label img*/
#desplegable{
    display: none;
}

.conteiner-desplegable label{
    
    display: none;
    
}

.conteiner-desplegable label img{
    margin: 10px;
    width: 40px;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.5s;
}

.conteiner-desplegable label img:hover{
  border: 1px solid white;
  background-color: rgb(212, 208, 208);
  opacity: 0.5;
  cursor: pointer;
}

/* Menu */
.conteiner-menu ul{
    margin: 0;
    padding: 10px;
    display: flex;
  list-style: none;
  justify-content: center;
 
}

.conteiner-menu ul li{
    
    margin: 0 -10px 0 -10px;
    padding: 10px ;
    text-align: center;
    width: 150px;
    z-index: 10;
}


.conteiner-menu ul a{
    font-weight: bold; 
    text-decoration: none;
    color: black;
    transition: 0.5s;
    font-family: monospace;
}

.conteiner-menu ul a:hover{
    color: white;
}

.conteiner-slider{
    background-color: #2E2E2E;
}


/* Contenedor de contacto */
.conteiner-contacto{
    justify-content: center;
    text-align: center;
    margin: 59px auto 100px auto;
    padding: 35vw;
    color: white;
    font-family: monospace;
    background-image: url(../img/fondo-formulario.jpg);
    background-size: cover;
    background-position: center;
}

.conteiner-contacto h5{
 color: black;
}

.conteiner-contacto .formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input{
   width: 300px;
   padding: 10px;
   border-radius: 5px;
   margin: 0 auto;
}

.formulario a{
    margin: 5px auto 15px auto;
    padding: 10px ;
    background-color: #C3B18A;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: 0.8s;
}

.redes{
    margin:10px auto;
    display: flex;
}

.formulario img{
    text-align: center;
    margin:  auto 5px;
    cursor: pointer;
    width: 20px;
}

.formulario a:hover{
    padding: 15px ;
    background-color: black;
    color: #C3B18A;
    transition: 0.6s;
}